<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.2"/>
  </startup>
  <appSettings>
    <add key="GwpRestJsonEndpoint" value="http://172.30.9.43/GwpRestJsonAPi/api/CentroTrasmissioneFlussi/AggiornaStatoFlusso"/>
    <add key="Directory_Incoming" value="C:\ServiziGWP\Dati\GwpLayoutTouchAsar\Incoming"/>
    <add key="Directory_Processing" value="C:\ServiziGWP\Dati\GwpLayoutTouchAsar\Processing"/>
    <add key="Directory_Temporary" value="C:\ServiziGWP\Dati\GwpLayoutTouchAsar\Temporary"/>
    <add key="Directory_Error" value="C:\ServiziGWP\Dati\GwpLayoutTouchAsar\Error"/>
    <add key="Directory_Backup" value="C:\ServiziGWP\Dati\GwpLayoutTouchAsar\Backup"/>
    <add key="Directory_Log" value="C:\ServiziGWP\Dati\GwpLayoutTouchAsar\Log\GwpLayoutTouchAsar.log"/>
    <add key="Directory_Asar" value="C:\Server"/>
    <add key="Directory_Casse" value="C:\Server\Casse"/>
    <add key="Directory_CasseLan" value="C:\Server\Casse\LAN"/>
    <add key="Directory_Image" value="C:\Server\Touch\gif"/>
    <add key="FilenameJson" value="keyboards.json"/>
    <add key="Image_Size" value="81920"/>
    <add key="Image_Height" value="360"/>
    <add key="Image_Width" value="360"/>
    <add key="Image_Default" value="Default.gif"/>
    <add key="TimeoutWS" value="60"/>
  </appSettings>
</configuration>
